<tr class="<%= 'disabled-row' if @order.has_paid? %>" >
  <td><%= @order.user.email %></td>
  <td><%= @order.description %></td>
  <td style="text-align: right"><%= number_to_currency @order.cost %></td>
  <% if owner %>
    <td class="no-wrap">
      <label>
        <input class="ajax-paid" type="checkbox" value="<%= @order.id %>:<%= @order.meal_id %>"
              <%= 'checked="checked"' if @order.has_paid? %> >Paid?</label>
    </td>
  <% end %>
</tr>