<%= form_for @order do |f| %>
    <% if @order.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@order.errors.count, "error") %> prohibited this meal from being saved:</h2>
          <ul>
            <% @order.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="center">
        <%= f.label 'Your Order:' %>
        <%= f.text_field :description, size: 50, placeholder: 'desired item' %>
        <%= f.label '$' %>
        <%= f.text_field :cost, size:15, placeholder: 'price', :value => number_with_precision(f.object.cost, :precision => 2) %>
        <%= f.submit 'Place Order!' %>
    </div>
<% end %>

