<br/>
<% is_owner = (@meal.owner == current_user) %>
<% if is_owner %>
    <%= link_to 'Edit', edit_meal_path(@meal), :class => 'button' %>
<% else %>
    <div>
      <p>Meal being run by: <br /> <%= @meal.owner.email %></p>
    </div>
<% end %>
<h2 class="title"> <%= @meal.title %> </h2>
<%= image_tag('menu_swirl.png', :class => 'center') %>
<div class="right"><h3> <%= @meal.date %> </h3></div>

<div id="meal_id" data-meal-id="<%=@meal.id%>"></div>
<p>
  <%= link_to @meal.website, @meal.website, :target => '_blank' %>
</p>
<p>
  <% order = @meal.orders.where(user_id: current_user.id).take %>
  <% if !order.nil? && !@meal.orders_closed %>
    <% @order = order %>
    <%= render('order/order_form') %>
  <% end %>
</p>
<div>
  <%= render('order/order_table', :locals => { :owner => is_owner, :meal => @meal }) %>
  <% if is_owner && !@meal.orders_closed %>
    <div class="right-ish">
        <div class="button right close-orders" > Close Orders </div>
    </div>
  <% end %>
  <% if @meal.orders_closed? && !@meal.summary.nil?  %>
      <p class="center"><%= @meal.summary.gsub("\n", '<br />').html_safe %> </p>
  <% end %>
</div>

