<br/>
<%= link_to 'Edit', edit_meal_path(@meal), class: 'button' %>
<h2> <%= @meal.title %> </h2>
<h2> Date: <%= @meal.date %> </h2>
<p>
  Website: <%= @meal.website %>
</p>
<p>
  <%# Need to mention when an order has been placed... and then paid eventually %>
  <% order = @meal.orders.where(user_id: current_user.id).take %>
  <% if !order.nil? %>
    <% @order = order %>
    <%= render('order/order_form') %>
  <% end %>
</p>
<p>
  <table>
    <tr><th>Users Participating:</th></tr>
  <% @meal.users.each do |u| %>
      <tr><td><%= u.email %></td></tr>
  <% end %>
  </table>
</p>

