<h1>Meals</h1>

<%= link_to('Create New', new_meal_path, class: 'button') %>
<table class="table">
  <thead>
      <tr>
        <th style="width: 20%;"></th>
        <th style="width: 20%;">Date</th>
        <th>Title</th>
      </tr>
  </thead>
  <tbody>
      <% @meals.each do |meal| %>
          <tr class="list-item" onclick="meal.show_meal(event, <%= meal.id %>);" >
            <td>
              <% if meal.owner_id == current_user.id %>
                <div onclick="meal.delete_meal(event, <%= meal.id %>);" class="button">Delete</div>
              <% end %>
            </td>
            <td><%= meal.date %></td>
            <td><%= meal.title %></td>
          </tr>
      <% end %>
  </tbody>
</table>